# Raw Data Loading

In [1]:
import pandas as pd
import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn import metrics
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [2]:
f = './Resources/all_races05_19.csv'
X = pd.read_csv(f)

C:\Anaconda38\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
X.head(2)

,race_ID,date,course,time,race_name,class,band,dist.f.,dist.m.,going,...,rpr,sire,dam,damsire,comment,dec_clean,prob,exp_chance,act_score,prize_money
0,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,103.0,Un Desperado (FR),Connaught Lace (GB),Connaught,Tracked leaders - keen hold early - 2nd approa...,7.0,0.125,0.05585,1,8292.0
1,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,106.0,Zaffaran (USA),Persian Argument (IRE),Persian Mews,Mid-division - progress into 3rd approaching s...,4.0,0.200,0.08936,0,1932.0

In [4]:
X.shape

(744347, 42)

In [62]:
#X.dtypes

In [6]:
X.columns

Index(['race_ID', 'date', 'course', 'time', 'race_name', 'class', 'band',
       'dist.f.', 'dist.m.', 'going', 'season', 'race_group', 'race_type',
       'Month', 'Year', 'Period', 'Runners', 'Race_Money', 'horse_name',
       'trainer', 'jockey', 'pos', 'btn', 'sp', 'dec', 'age', 'weight', 'lbs',
       'gear', 'fin_time', 'or', 'ts', 'rpr', 'sire', 'dam', 'damsire',
       'comment', 'dec_clean', 'prob', 'exp_chance', 'act_score',
       'prize_money'],
      dtype='object')

In [7]:
# Take a look at the column variable: prop
#print(df['prob'].sort_values(ascending=True))

In [8]:
# Assign outcomes as 0 if prob <=0.09 and as 1 if prob >0.09
#df['prob'] = [0 if x <=0.09 else 1 for x in df['prob']]

In [9]:
# Assign X as dataframe of the features and y as a series of the outcome variable
#X = df.drop("prob", 1) 
#y = df.prob

In [10]:
#y.shape

In [11]:
X.shape

(744347, 42)

In [12]:
for col_name in X.columns:
    if X[col_name].dtypes == 'object':
        unique_cat = len(X[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'race_ID' has 72896 unique categories
Feature 'date' has 4727 unique categories
Feature 'course' has 75 unique categories
Feature 'time' has 220 unique categories
Feature 'race_name' has 47228 unique categories
Feature 'class' has 70 unique categories
Feature 'band' has 57 unique categories
Feature 'going' has 13 unique categories
Feature 'race_group' has 4 unique categories
Feature 'race_type' has 2 unique categories
Feature 'Period' has 178 unique categories
Feature 'horse_name' has 79591 unique categories
Feature 'trainer' has 3766 unique categories
Feature 'jockey' has 3108 unique categories
Feature 'pos' has 41 unique categories
Feature 'btn' has 1758 unique categories
Feature 'sp' has 220 unique categories
Feature 'weight' has 99 unique categories
Feature 'gear' has 26 unique categories
Feature 'fin_time' has 30968 unique categories
Feature 'sire' has 2900 unique categories
Feature 'dam' has 43027 unique categories
Feature 'damsire' has 3793 unique categories
Feature 'comment' has 703853 unique categories

In [13]:
for col_name in X.columns:
    if X[col_name].dtypes == 'float64':
        unique_cat = len(X[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'dist.f.' has 48 unique categories
Feature 'Month' has 13 unique categories
Feature 'Year' has 16 unique categories
Feature 'Race_Money' has 4721 unique categories
Feature 'dec' has 95 unique categories
Feature 'or' has 155 unique categories
Feature 'ts' has 181 unique categories
Feature 'rpr' has 192 unique categories
Feature 'dec_clean' has 95 unique categories
Feature 'prob' has 95 unique categories
Feature 'exp_chance' has 555032 unique categories
Feature 'prize_money' has 14962 unique categories

In [14]:
X.head(2)

,race_ID,date,course,time,race_name,class,band,dist.f.,dist.m.,going,...,rpr,sire,dam,damsire,comment,dec_clean,prob,exp_chance,act_score,prize_money
0,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,103.0,Un Desperado (FR),Connaught Lace (GB),Connaught,Tracked leaders - keen hold early - 2nd approa...,7.0,0.125,0.05585,1,8292.0
1,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,106.0,Zaffaran (USA),Persian Argument (IRE),Persian Mews,Mid-division - progress into 3rd approaching s...,4.0,0.200,0.08936,0,1932.0

## Pre-processing

In [15]:
# drop also SP since its got to do with betteing price giving by bookers and does not impact the race
X_df = X.drop(['race_ID', 'class','time','dist.f.','Month', 'Year', 'Period', 'Runners','fin_time', 'dec','weight','dec_clean','sire', 'dam', 'damsire', 'comment','race_name','btn','sp','or','rpr','horse_name','exp_chance','prob'],axis=1)
X_df.head(2)

,date,course,band,dist.m.,going,season,race_group,race_type,Race_Money,trainer,jockey,pos,age,lbs,gear,ts,act_score,prize_money
0,2005-04-24,Cork,4yo+,3600,Heavy,5,Bumper,Even,11568.0,W P Mullins,Ms K Walsh,1,5,155,NaN,NaN,1,8292.0
1,2005-04-24,Cork,4yo+,3600,Heavy,5,Bumper,Even,11568.0,Thomas Gerard O'Leary,Robbie McNamara,2,5,160,NaN,NaN,0,1932.0

In [16]:
X_df = X_df.dropna()
X_df.shape

(140461, 18)

In [17]:
X_df.head(2)

,date,course,band,dist.m.,going,season,race_group,race_type,Race_Money,trainer,jockey,pos,age,lbs,gear,ts,act_score,prize_money
189,2005-06-02,Punchestown,4yo+ M,3200,Good To Firm,5,Hurdle,Handicap,11568.0,C A Murphy,A J Donoghue,3,5,157,t,93.0,0,852.0
191,2005-06-02,Punchestown,4yo+ M,3200,Good To Firm,5,Hurdle,Handicap,11568.0,C Roche,Mark Walsh,5,4,150,t,79.0,0,0.0

In [18]:
for col_name in X_df.columns:
    if X_df[col_name].dtypes == 'object':
        unique_cat = len(X_df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'date' has 4654 unique categories
Feature 'course' has 67 unique categories
Feature 'band' has 52 unique categories
Feature 'going' has 10 unique categories
Feature 'race_group' has 4 unique categories
Feature 'race_type' has 2 unique categories
Feature 'trainer' has 2306 unique categories
Feature 'jockey' has 1861 unique categories
Feature 'pos' has 30 unique categories
Feature 'gear' has 25 unique categories

In [19]:
for col_name in X_df.columns:
    if X_df[col_name].dtypes == 'float64':
        unique_cat = len(X_df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'Race_Money' has 3781 unique categories
Feature 'ts' has 175 unique categories
Feature 'prize_money' has 7206 unique categories

In [20]:
# X_df["band"].value_counts()

In [21]:
# Reduce categorical variables (band)
band_others = X_df['band'].value_counts().loc[lambda x: x<585]
application_to_replace = band_others.index.tolist()
for b in application_to_replace:
    X_df['band'] = X_df['band'].replace(b,"other")
# Confirm binning was successful
X_df['band'].value_counts(sort=True).reset_index()

     index   band
0     4yo+  81688
1     5yo+  34835
2     3yo+   5907
3   4yo+ M   4872
4    other   3357
5      4yo   2036
6     6yo+   1695
7    4-7yo   1602
8      3yo   1601
9    4-6yo   1469
10  5yo+ M    812
11   4-5yo    587

In [22]:
# X_df["pos"].value_counts()

In [23]:
# Replace disqualified position (DSQ) as 26
dX=X_df.replace(to_replace="DSQ",value=29)

In [24]:
dX.head(2)

,date,course,band,dist.m.,going,season,race_group,race_type,Race_Money,trainer,jockey,pos,age,lbs,gear,ts,act_score,prize_money
189,2005-06-02,Punchestown,4yo+ M,3200,Good To Firm,5,Hurdle,Handicap,11568.0,C A Murphy,A J Donoghue,3,5,157,t,93.0,0,852.0
191,2005-06-02,Punchestown,4yo+ M,3200,Good To Firm,5,Hurdle,Handicap,11568.0,C Roche,Mark Walsh,5,4,150,t,79.0,0,0.0

In [35]:
dX.dtypes

date            object
course          object
band            object
dist.m.          int64
going           object
season           int64
race_group      object
race_type       object
Race_Money     float64
trainer         object
jockey          object
pos             object
age              int64
lbs              int64
gear            object
ts             float64
act_score        int64
prize_money    float64
dtype: object

In [25]:
# dX["pos"].value_counts()

In [26]:
# dX["btn"].unique()

In [27]:
# Replace string s03 in btn column with 53.3 (DSQ) as 26
dX_df1=dX.replace(to_replace="s0.3",value=50.3)

In [28]:
dX_df1.head(2)

,date,course,band,dist.m.,going,season,race_group,race_type,Race_Money,trainer,jockey,pos,age,lbs,gear,ts,act_score,prize_money
189,2005-06-02,Punchestown,4yo+ M,3200,Good To Firm,5,Hurdle,Handicap,11568.0,C A Murphy,A J Donoghue,3,5,157,t,93.0,0,852.0
191,2005-06-02,Punchestown,4yo+ M,3200,Good To Firm,5,Hurdle,Handicap,11568.0,C Roche,Mark Walsh,5,4,150,t,79.0,0,0.0

In [61]:
dX.head(2)

,date,course,band,dist.m.,going,season,race_group,race_type,Race_Money,trainer,jockey,pos,age,lbs,gear,ts,act_score,prize_money
189,2005-06-02,Punchestown,4yo+ M,3200,Good To Firm,5,Hurdle,Handicap,11568.0,C A Murphy,A J Donoghue,3,5,157,t,93.0,0,852.0
191,2005-06-02,Punchestown,4yo+ M,3200,Good To Firm,5,Hurdle,Handicap,11568.0,C Roche,Mark Walsh,5,4,150,t,79.0,0,0.0

In [37]:
dX.dtypes

date            object
course          object
band            object
dist.m.          int64
going           object
season           int64
race_group      object
race_type       object
Race_Money     float64
trainer         object
jockey          object
pos             object
age              int64
lbs              int64
gear            object
ts             float64
act_score        int64
prize_money    float64
dtype: object

In [40]:
dX["pos"].unique()

array(['3', '5', '2', '1', '4', '13', '15', '17', '19', '11', '12', '8',
       '9', '6', '18', '10', '7', '14', '16', '20', '21', '22', 29, '24',
       '25', '26', '23', '27', '28', 'REF'], dtype=object)

In [44]:
dX = dX.replace(to_replace="REF",value=30)

In [45]:
dX.

date            object
course          object
band            object
dist.m.          int64
going           object
season           int64
race_group      object
race_type       object
Race_Money     float64
trainer         object
jockey          object
pos             object
age              int64
lbs              int64
gear            object
ts             float64
act_score        int64
prize_money    float64
dtype: object

In [46]:
final_df = dX.astype({"pos": float})

In [47]:
final_df.dtypes

date            object
course          object
band            object
dist.m.          int64
going           object
season           int64
race_group      object
race_type       object
Race_Money     float64
trainer         object
jockey          object
pos            float64
age              int64
lbs              int64
gear            object
ts             float64
act_score        int64
prize_money    float64
dtype: object

In [48]:
for col_name in final_df.columns:
    if final_df[col_name].dtypes == 'object':
        unique_cat = len(final_df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'date' has 4654 unique categories
Feature 'course' has 67 unique categories
Feature 'band' has 12 unique categories
Feature 'going' has 10 unique categories
Feature 'race_group' has 4 unique categories
Feature 'race_type' has 2 unique categories
Feature 'trainer' has 2306 unique categories
Feature 'jockey' has 1861 unique categories
Feature 'gear' has 25 unique categories

In [49]:
for col_name in final_df.columns:
    if final_df[col_name].dtypes == 'float64':
        unique_cat = len(final_df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'Race_Money' has 3781 unique categories
Feature 'pos' has 30 unique categories
Feature 'ts' has 175 unique categories
Feature 'prize_money' has 7206 unique categories

In [50]:
final_df.isnull().sum()

date           0
course         0
band           0
dist.m.        0
going          0
season         0
race_group     0
race_type      0
Race_Money     0
trainer        0
jockey         0
pos            0
age            0
lbs            0
gear           0
ts             0
act_score      0
prize_money    0
dtype: int64

In [51]:
final_df.duplicated()

189       False
191       False
297       False
387       False
432       False
          ...
744325    False
744327    False
744328    False
744345    False
744346    False
Length: 140461, dtype: bool

In [52]:
final_df.head(2)

,date,course,band,dist.m.,going,season,race_group,race_type,Race_Money,trainer,jockey,pos,age,lbs,gear,ts,act_score,prize_money
189,2005-06-02,Punchestown,4yo+ M,3200,Good To Firm,5,Hurdle,Handicap,11568.0,C A Murphy,A J Donoghue,3.0,5,157,t,93.0,0,852.0
191,2005-06-02,Punchestown,4yo+ M,3200,Good To Firm,5,Hurdle,Handicap,11568.0,C Roche,Mark Walsh,5.0,4,150,t,79.0,0,0.0

In [53]:
final_df.shape

(140461, 18)

In [54]:
final_df.reset_index(drop=True, inplace=True)

In [60]:
final_df.head(2)

,date,course,band,dist.m.,going,season,race_group,race_type,Race_Money,trainer,jockey,pos,age,lbs,gear,ts,act_score,prize_money
0,2005-06-02,Punchestown,4yo+ M,3200,Good To Firm,5,Hurdle,Handicap,11568.0,C A Murphy,A J Donoghue,3.0,5,157,t,93.0,0,852.0
1,2005-06-02,Punchestown,4yo+ M,3200,Good To Firm,5,Hurdle,Handicap,11568.0,C Roche,Mark Walsh,5.0,4,150,t,79.0,0,0.0

In [56]:
final_df.to_csv('modell_data.csv',index=False)

In [57]:
#final_df.to_csv('model11_data.csv',index=False)

In [58]:
final_df.to_csv('machine_data.csv',index=False)

In [59]:
final_df.to_csv('machine1_data.csv', index=False)