# Raw Data Loading

In [1]:
import pandas as pd
import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn import metrics
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [3]:
f = './Resources/all_races05_19.csv'
X = pd.read_csv(f)

C:\Anaconda38\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
X.head(2)

,race_ID,date,course,time,race_name,class,band,dist.f.,dist.m.,going,...,rpr,sire,dam,damsire,comment,dec_clean,prob,exp_chance,act_score,prize_money
0,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,103.0,Un Desperado (FR),Connaught Lace (GB),Connaught,Tracked leaders - keen hold early - 2nd approa...,7.0,0.125,0.05585,1,8292.0
1,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,106.0,Zaffaran (USA),Persian Argument (IRE),Persian Mews,Mid-division - progress into 3rd approaching s...,4.0,0.200,0.08936,0,1932.0

In [5]:
X.shape

(744347, 42)

In [6]:
# X.dtypes

In [7]:
X.columns

Index(['race_ID', 'date', 'course', 'time', 'race_name', 'class', 'band',
       'dist.f.', 'dist.m.', 'going', 'season', 'race_group', 'race_type',
       'Month', 'Year', 'Period', 'Runners', 'Race_Money', 'horse_name',
       'trainer', 'jockey', 'pos', 'btn', 'sp', 'dec', 'age', 'weight', 'lbs',
       'gear', 'fin_time', 'or', 'ts', 'rpr', 'sire', 'dam', 'damsire',
       'comment', 'dec_clean', 'prob', 'exp_chance', 'act_score',
       'prize_money'],
      dtype='object')

In [8]:
# Take a look at the column variable: prop
#print(df['prob'].sort_values(ascending=True))

In [9]:
# Assign outcomes as 0 if prob <=0.09 and as 1 if prob >0.09
#df['prob'] = [0 if x <=0.09 else 1 for x in df['prob']]

In [10]:
# Assign X as dataframe of the features and y as a series of the outcome variable
#X = df.drop("prob", 1) 
#y = df.prob

In [11]:
#y.shape

In [12]:
X.shape

(744347, 42)

In [13]:
for col_name in X.columns:
    if X[col_name].dtypes == 'object':
        unique_cat = len(X[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'race_ID' has 72896 unique categories
Feature 'date' has 4727 unique categories
Feature 'course' has 75 unique categories
Feature 'time' has 220 unique categories
Feature 'race_name' has 47228 unique categories
Feature 'class' has 70 unique categories
Feature 'band' has 57 unique categories
Feature 'going' has 13 unique categories
Feature 'race_group' has 4 unique categories
Feature 'race_type' has 2 unique categories
Feature 'Period' has 178 unique categories
Feature 'horse_name' has 79591 unique categories
Feature 'trainer' has 3766 unique categories
Feature 'jockey' has 3108 unique categories
Feature 'pos' has 41 unique categories
Feature 'btn' has 1758 unique categories
Feature 'sp' has 220 unique categories
Feature 'weight' has 99 unique categories
Feature 'gear' has 26 unique categories
Feature 'fin_time' has 30968 unique categories
Feature 'sire' has 2900 unique categories
Feature 'dam' has 43027 unique categories
Feature 'damsire' has 3793 unique categories
Feature 'comment' has 703853 unique categories

In [14]:
for col_name in X.columns:
    if X[col_name].dtypes == 'float64':
        unique_cat = len(X[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'dist.f.' has 48 unique categories
Feature 'Month' has 13 unique categories
Feature 'Year' has 16 unique categories
Feature 'Race_Money' has 4721 unique categories
Feature 'dec' has 95 unique categories
Feature 'or' has 155 unique categories
Feature 'ts' has 181 unique categories
Feature 'rpr' has 192 unique categories
Feature 'dec_clean' has 95 unique categories
Feature 'prob' has 95 unique categories
Feature 'exp_chance' has 555032 unique categories
Feature 'prize_money' has 14962 unique categories

In [15]:
X.head(2)

,race_ID,date,course,time,race_name,class,band,dist.f.,dist.m.,going,...,rpr,sire,dam,damsire,comment,dec_clean,prob,exp_chance,act_score,prize_money
0,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,103.0,Un Desperado (FR),Connaught Lace (GB),Connaught,Tracked leaders - keen hold early - 2nd approa...,7.0,0.125,0.05585,1,8292.0
1,RID1002-IE-05,2005-04-24,Cork,5:25,Coolmore Brian Boru (Pro-Am) INH Flat Race (Di...,NaN,4yo+,18.0,3600,Heavy,...,106.0,Zaffaran (USA),Persian Argument (IRE),Persian Mews,Mid-division - progress into 3rd approaching s...,4.0,0.200,0.08936,0,1932.0

## Pre-processing

In [16]:
# drop also SP since its got to do with betteing price giving by bookers and does not impact the race
X_df = X.drop(['race_ID', 'date', 'class','time','dist.f.','Month', 'Year', 'Period', 'Runners','fin_time', 'dec','weight','dec_clean','sire', 'dam', 'damsire', 'comment','race_name','going','sp','horse_name','exp_chance','act_score'],axis=1)
X_df.head(2)

,course,band,dist.m.,season,race_group,race_type,Race_Money,trainer,jockey,pos,btn,age,lbs,gear,or,ts,rpr,prob,prize_money
0,Cork,4yo+,3600,5,Bumper,Even,11568.0,W P Mullins,Ms K Walsh,1,0,5,155,NaN,NaN,NaN,103.0,0.125,8292.0
1,Cork,4yo+,3600,5,Bumper,Even,11568.0,Thomas Gerard O'Leary,Robbie McNamara,2,1.5,5,160,NaN,NaN,NaN,106.0,0.200,1932.0

In [17]:
X_df = X_df.dropna()
X_df.shape

(126391, 19)

In [18]:
X_df.head(2)

,course,band,dist.m.,season,race_group,race_type,Race_Money,trainer,jockey,pos,btn,age,lbs,gear,or,ts,rpr,prob,prize_money
432,Fairyhouse,4yo+,3200,5,Hurdle,Handicap,21690.0,Mervyn Torrens,Mr K H Clarke,4,7,5,134,t,90.0,89.0,92.0,0.058824,697.5
441,Fairyhouse,4yo+,3200,5,Hurdle,Handicap,21690.0,Noel Meade,Denis O'Regan,13,23.75,5,158,b,107.0,86.0,92.0,0.058824,0.0

In [19]:
for col_name in X_df.columns:
    if X_df[col_name].dtypes == 'object':
        unique_cat = len(X_df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'course' has 67 unique categories
Feature 'band' has 41 unique categories
Feature 'race_group' has 4 unique categories
Feature 'race_type' has 2 unique categories
Feature 'trainer' has 2028 unique categories
Feature 'jockey' has 1650 unique categories
Feature 'pos' has 29 unique categories
Feature 'btn' has 920 unique categories
Feature 'gear' has 24 unique categories

In [20]:
for col_name in X_df.columns:
    if X_df[col_name].dtypes == 'float64':
        unique_cat = len(X_df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'Race_Money' has 3688 unique categories
Feature 'or' has 136 unique categories
Feature 'ts' has 174 unique categories
Feature 'rpr' has 185 unique categories
Feature 'prob' has 88 unique categories
Feature 'prize_money' has 7088 unique categories

In [21]:
# X_df["band"].value_counts()

In [22]:
# Reduce categorical variables (band)
band_others = X_df['band'].value_counts().loc[lambda x: x<585]
application_to_replace = band_others.index.tolist()
for b in application_to_replace:
    X_df['band'] = X_df['band'].replace(b,"other")
# Confirm binning was successful
X_df['band'].value_counts(sort=True).reset_index()

    index   band
0    4yo+  77863
1    5yo+  32427
2    3yo+   6768
3  4yo+ M   3868
4   other   2758
5    6yo+   1051
6     4yo    960
7   4-7yo    696

In [23]:
# X_df["pos"].value_counts()

In [24]:
# Replace disqualified position (DSQ) as 26
dX=X_df.replace(to_replace="DSQ",value=29)

In [25]:
dX.head(2)

,course,band,dist.m.,season,race_group,race_type,Race_Money,trainer,jockey,pos,btn,age,lbs,gear,or,ts,rpr,prob,prize_money
432,Fairyhouse,4yo+,3200,5,Hurdle,Handicap,21690.0,Mervyn Torrens,Mr K H Clarke,4,7,5,134,t,90.0,89.0,92.0,0.058824,697.5
441,Fairyhouse,4yo+,3200,5,Hurdle,Handicap,21690.0,Noel Meade,Denis O'Regan,13,23.75,5,158,b,107.0,86.0,92.0,0.058824,0.0

In [26]:
# dX["pos"].value_counts()

In [27]:
# dX["btn"].unique()

In [28]:
# Replace string s03 in btn column with 53.3 (DSQ) as 26
dX_df1=dX.replace(to_replace="s0.3",value=50.3)

In [29]:
dX_df1.head(2)

,course,band,dist.m.,season,race_group,race_type,Race_Money,trainer,jockey,pos,btn,age,lbs,gear,or,ts,rpr,prob,prize_money
432,Fairyhouse,4yo+,3200,5,Hurdle,Handicap,21690.0,Mervyn Torrens,Mr K H Clarke,4,7,5,134,t,90.0,89.0,92.0,0.058824,697.5
441,Fairyhouse,4yo+,3200,5,Hurdle,Handicap,21690.0,Noel Meade,Denis O'Regan,13,23.75,5,158,b,107.0,86.0,92.0,0.058824,0.0

In [33]:
# dX_df1["btn"].unique()
a = dX_df1.replace(to_replace="s0.33",value=50.33)
b =a.replace(to_replace="dist",value=0)
c = b.replace(to_replace="sht-0.25",value=0)

In [34]:
c.head(2)

,course,band,dist.m.,season,race_group,race_type,Race_Money,trainer,jockey,pos,btn,age,lbs,gear,or,ts,rpr,prob,prize_money
432,Fairyhouse,4yo+,3200,5,Hurdle,Handicap,21690.0,Mervyn Torrens,Mr K H Clarke,4,7,5,134,t,90.0,89.0,92.0,0.058824,697.5
441,Fairyhouse,4yo+,3200,5,Hurdle,Handicap,21690.0,Noel Meade,Denis O'Regan,13,23.75,5,158,b,107.0,86.0,92.0,0.058824,0.0

In [35]:
d = c.astype({"btn": float})

In [36]:
c["pos"].unique()

array(['4', '13', '15', '17', '19', '1', '3', '2', '5', '12', '11', '8',
       '9', '6', '18', '7', '10', '14', '16', '20', '21', '22', 29, '24',
       '25', '26', '23', '27', '28'], dtype=object)

In [37]:
final_df = d.astype({"pos": float})

In [38]:
final_df.dtypes

course          object
band            object
dist.m.          int64
season           int64
race_group      object
race_type       object
Race_Money     float64
trainer         object
jockey          object
pos            float64
btn            float64
age              int64
lbs              int64
gear            object
or             float64
ts             float64
rpr            float64
prob           float64
prize_money    float64
dtype: object

In [39]:
for col_name in final_df.columns:
    if final_df[col_name].dtypes == 'object':
        unique_cat = len(final_df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'course' has 67 unique categories
Feature 'band' has 8 unique categories
Feature 'race_group' has 4 unique categories
Feature 'race_type' has 2 unique categories
Feature 'trainer' has 2028 unique categories
Feature 'jockey' has 1650 unique categories
Feature 'gear' has 24 unique categories

In [40]:
for col_name in final_df.columns:
    if final_df[col_name].dtypes == 'float64':
        unique_cat = len(final_df[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'Race_Money' has 3688 unique categories
Feature 'pos' has 29 unique categories
Feature 'btn' has 496 unique categories
Feature 'or' has 136 unique categories
Feature 'ts' has 174 unique categories
Feature 'rpr' has 185 unique categories
Feature 'prob' has 88 unique categories
Feature 'prize_money' has 7088 unique categories

In [41]:
final_df.isnull().sum()

course         0
band           0
dist.m.        0
season         0
race_group     0
race_type      0
Race_Money     0
trainer        0
jockey         0
pos            0
btn            0
age            0
lbs            0
gear           0
or             0
ts             0
rpr            0
prob           0
prize_money    0
dtype: int64

In [42]:
final_df.duplicated()

432       False
441       False
443       False
445       False
447       False
          ...
744323    False
744325    False
744327    False
744328    False
744346    False
Length: 126391, dtype: bool

In [43]:
final_df.head(2)

,course,band,dist.m.,season,race_group,race_type,Race_Money,trainer,jockey,pos,btn,age,lbs,gear,or,ts,rpr,prob,prize_money
432,Fairyhouse,4yo+,3200,5,Hurdle,Handicap,21690.0,Mervyn Torrens,Mr K H Clarke,4.0,7.00,5,134,t,90.0,89.0,92.0,0.058824,697.5
441,Fairyhouse,4yo+,3200,5,Hurdle,Handicap,21690.0,Noel Meade,Denis O'Regan,13.0,23.75,5,158,b,107.0,86.0,92.0,0.058824,0.0

In [44]:
final_df.shape

(126391, 19)

In [46]:
final_df.to_csv('model_data.csv',index=False)